{{define "login"}}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

        <title>comuniGO</title>
    </head>
    <body>
        <div class="container">
            <div class="row mt-4">
                <div class="col-4 offset-4 text-center">
                    <h3 class="text-center mt-2">Welcome in</h3>
                    <h1 class="text-center mb-4">comuni<b>GO</b></h1>
                    <form method="POST" action="sign" id="signform">
                        <div class="form-group mb-4">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" name="username" id="username" placeholder="Enter username" required="required">
                        </div>
                        <button type="submit" class="btn btn-dark">Login</button>
                    </form>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-4 offset-4 text-center">
                    <div class="collapse" id="waiting">
                        <h5 class="text-center">Waiting for other partecipants ...</h5>
                        <div class="spinner-border text-dark mt-2" role="status"></div>
                    </div>
                </div>
            </div>
            {{if .IsError}}
            <div class="row mt-4" id="errorDiv">
                <div class="col-4 offset-4 text-center">
                    <h5 class="text-center">{{.ErrorMessage}}</h5>
                </div>
            </div> 
            {{end}}           
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="script.js"></script>
    </body>
</html>
{{end}}